
@{
    ViewBag.Title = "大家来找茬~医院信息纠错有奖活动！";
    Layout = "~/Views/Shared/_Mobile.cshtml";

}

<div ui-view="" style="margin-bottom:3rem"></div>

<div class="weui-footer" style="position:fixed;bottom:0px;height:2rem;background-color: #f8f8f8; width:100%;line-height:2rem;">
    <p class="weui-footer__text">Copyright © 2016 SMC-SFE</p>
</div>



