@{
    Layout = null;
}
<div class="item item-avatar">
    <img ng-src="{{EmployeeInstitution.EmployeeModel.HeadImgUrl}}">
    <h2>{{EmployeeInstitution.EmployeeModel.Name}}</h2>
    <p>{{EmployeeInstitution.EmployeeModel.Code}}</p>
</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" ng-repeat="item in EmployeeInstitution.InstitutionModels" ui-sref="detail({id:item.Id, reload:true})">
        <div class="weui-cell__bd">
            <p>{{item.Name}}</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>
<div class="weui-msg__opr-area">
    <p class="weui-btn-area">
        <a href="#" class="weui-btn weui-btn_primary">查看积分排行榜</a>
    </p>
</div>