
@{
    Layout = null;
}

<h2>LoginTest</h2>
<form action="Login" method="post">
    <input name="EmployeeCode" type="text" placeholder="EmployeeCode" />
    <input name="HeadimgUrl" type="text" placeholder="HeadimgUrl" />
    <button type="submit">Submit</button>
</form>
