@{
    Layout = null;
}
<div class="ng-hide" ng-show="!loading">
    <div class="item" style="text-align:center">
        <p>前20名积分榜</p>
    </div>
    <div class="ng-hide" ng-show="ScoreBoards.length!=null">        
        <div class="weui-cells">
            <div class="weui-cell" ng-repeat="item in ScoreBoards">             
                <div class="weui-cell__bd">
                    <p>{{item.EmpName}}</p>
                </div>
                <div class="weui-cell__ft">
                    {{item.Score}}分
                </div>
            </div>
        </div>
    </div>
    <div class="weui-loadmore weui-loadmore_line" ng-show="ScoreBoards.length==0">
        <span class="weui-loadmore__tips">暂无数据</span>       
    </div>
</div>
<div id="loadingToast" ng-show="loading">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content">数据加载中</p>
    </div>
</div>
