@{
    Layout = null;
}
<div class="topbar">
    <div class="return" ui-sref="institutions"></div>
    <div class="menutitle">积分榜(前20位)</div>
</div>

<div style="position:absolute;width:100%; padding-bottom: 2rem;">   
    <div class="ng-hide" ng-show="!loading">   
        <div>
            <div class="weui-loadmore weui-loadmore_line">
                <span class="weui-loadmore__tips">积分规则</span>
                <p>每条纠错信息经过审核后积1分</p>
            </div>
            @*<div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
                <span class="weui-loadmore__tips"></span>
            </div>*@
        </div>     
        <div class="ng-hide" ng-show="ScoreBoards.length!=null">
            <div class="weui-cells">
                <div class="weui-cell" ng-repeat="item in ScoreBoards">
                    <div class="weui-cell__bd">
                        <p>{{item.EmpName}}</p>
                    </div>
                    <div class="weui-cell__ft">
                        {{item.Score}}分
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-loadmore weui-loadmore_line" ng-show="ScoreBoards.length==0">
            <span class="weui-loadmore__tips">暂无数据</span>
        </div>
    </div>
</div>
    <div id="loadingToast" ng-show="loading">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
